Makefile

*.pbc
*.c
*.o
*.obj
*.exe
*.iss
installable_lua
installable_luap

*.tar.gz
*.patch

*.tmp
*.sto
man

dynext/*.dll
dynext/*.so
dynext/pmc/*.bundle
dynext/pmc/*.c
dynext/pmc/*.dump
dynext/pmc/*.h
dynext/pmc/*.o
dynext/pmc/*.obj
dynext/pmc/*.pdb

lua/library/gl.pir
lua/library/sha1.pir

src/*_gen.pir
src/lib/luabytecode_gen.pir

t/*.lua
t/*.luac
t/*.orig_out
t/*.parrot_out
t/*.pir

Test/More.*

