Makefile

*.pbc
*.c
*.o
*.obj
*.exe
*.iss
installable_lua
installable_luap

*.tar.gz
*.patch

*.tmp
*.sto
man

lua/library/gl.pir
lua/library/sha1.pir

src/*_gen.pir
src/lib/luabytecode_gen.pir

src/pmc/*.bundle
src/pmc/*.c
src/pmc/*.dll
src/pmc/*.dump
src/pmc/*.h
src/pmc/*.o
src/pmc/*.obj
src/pmc/*.pdb
src/pmc/*.so

t/*.lua
t/*.luac
t/*.orig_out
t/*.parrot_out
t/*.pir

Test/More.*

