Makefile

*.pbc
*.c
*.o
*.obj
*.exe
*.iss
installable_lua
installable_luap

*.tar.gz
*.patch

*.tmp
*.sto
man

dynext/*.dll
dynext/*.so
dynext/pmc/*.bundle
dynext/pmc/*.c
dynext/pmc/*.dump
dynext/pmc/*.h
dynext/pmc/*.o
dynext/pmc/*.obj
dynext/pmc/*.pdb

lua/*_gen.pir
lua/lib/luabytecode_gen.pir

lexico.lua
luad.lua
luad.luac
test_lex.lua

lua/library/Test/More.*

